/* Fundo da página e estilo global de texto */
html, body {
    height: 100%; /* Garantir que o HTML e o body ocupem 100% da altura */
    margin: 0; /* Remover margens padrão */
}

body {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    background-color: #333;
    background-image: 
        linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f),
        linear-gradient(45deg, #0f0f0f 25%, #333 25%, #333 75%, #0f0f0f 75%, #0f0f0f);
    background-size: 10px 10px;
    color: #fff; 
    font-family: Arial, sans-serif;
    padding: 0;
}

/* Estilos para cabeçalho */
header {
    background-color: #111; /* Um preto mais suave */
    padding: 20px 20px;
}

.icon-home {
    width: 40px;
    height: 40px;
    border: 2px solid transparent; /* Borda padrão */
    border-radius: 50%; /* Torna a borda circular */
    transition: border-color 0.3s;
}

.icon-home:hover {
    border-color: #ff0000; /* Borda vermelha no hover */
}

header nav {
    display: flex;
    justify-content: space-between; /* Espaço entre a esquerda e o centro */
    align-items: center;
}

.left-menu, .center-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.center-menu {
    justify-content: center; /* Centraliza o menu do meio */
    flex-grow: 1; /* Faz com que a lista central ocupe o espaço disponível */
}

header nav ul li a {
    color: #ff8484;
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.center-menu li a:hover {
    color: #ff0000; /* Vermelho no hover */
    border-color: #ff0000; /* Borda vermelha no hover */
}


/* Estilos para o rodapé */
footer {
    background-color: #111; /* Mesmo preto suave do cabeçalho */
    color: #ff8484; /* Detalhes em vermelho */
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

/* Links gerais */
a {
    color: #ffffff; /* Vermelho */
    text-decoration: none;
}

a:hover {
    color: #fff; /* Branco ao passar o mouse */
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    color: #ff8484; /* Vermelho para os títulos */
}

.title-page {
    margin: 0;
    color: #ff8484;
    background-color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #ff0000;
}

/* index.html */
.image-list {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.image-list a {
    display: inline-block;
}

.image-list img {
    width: auto;
    height: 300px;
    border: 2px solid #ff0000; /* Borda vermelha em imagens */
    background-color: #fff; /* Fundo branco para as imagens */
    padding: 10px; /* Espaço entre a imagem e a borda */
    transition: transform 0.3s ease;
}

.image-list img:hover {
    transform: scale(1.05); /* Leve zoom ao passar o mouse */
}

.cv-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.cv-container article {
    background-color: #333;
    flex-grow: 1; 
    max-width: 30%; 
    margin-right: 20px;
    border: 1px solid #ff0000;
}

.cv-container article p {
    padding-left: 30px;
}

.cv-container aside {
    flex-shrink: 0; 
}

.cv-container aside img {
    width: 500px; 
    height: auto;
    border-radius: 50%; 
    margin-right: 350px;
    margin-top: 120px;
    border: 3px solid #ff0000;
}

/*portfolio.html*/

.portfolio-container {
    display: flex;
    flex-grow: 1; /* Permite que o container ocupe o espaço entre o header e o footer */
    justify-content: space-between;
    align-items: flex-start;
    
}

.portfolio-container article {
    background-color: #333;
    flex-grow: 1;
    border: 1px solid #ff0000;
    max-width: 50%;
    max-height: 100%;
    padding: 10px;
    padding-bottom: 250px;
}

.portfolio-container article p {
    padding-left: 30px;
}

.portfolio-container aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-shrink: 0;
}

.portfolio-container aside img {
    margin: 20px;
    width: 350px;
    height: 350px;
    border-radius: 12px;
    border: 3px solid #ff0000;
    transition: transform 0.3s ease;
}

.portfolio-container aside img:hover {
    transform: scale(1.05);
}


