/* Fundo da página e estilo global de texto */
html, body {
    height: 100%; /* Garantir que o HTML e o body ocupem 100% da altura */
    margin: 0; /* Remover margens padrão */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b; /* Base escura */
    background-image: 
        radial-gradient(circle, #333 1px, transparent 1px), /* Padrão estilo carbono */
        radial-gradient(circle, #333 1px, #1b1b1b 1px);
    background-size: 10px 10px, 10px 10px;
    background-position: 0 0, 5px 5px; /* Offset para criar efeito de textura */
    color: #ffffff; 
    font-family: Arial, sans-serif;
    padding: 0;
}

/* Estilos para cabeçalho */
header {
    background-color: #111; /* Um preto mais suave */
    padding: 20px 20px;
}

.main-content {
    flex-grow: 1; /* Expande para ocupar o espaço disponível */
    
}

.icon-home {
    width: 40px;
    height: 40px;
    border: 2px solid transparent; /* Borda padrão */
    border-radius: 50%; /* Torna a borda circular */
    transition: border-color 0.3s;
}

.icon-home:hover {
    border-color: #ff0000; /* Borda vermelha no hover */
}


header nav {
    display: flex;
    justify-content: space-between; /* Espaço entre a esquerda e o centro */
    align-items: center;
    margin-right: 5%;
}

.left-menu, .center-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.center-menu {
    justify-content: center; /* Centraliza o menu do meio */
    flex-grow: 1; /* Faz com que a lista central ocupe o espaço disponível */
}

.center-info {
    
    display: flex;
    gap: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.center-info p {
    display: flex;
    color: #ff8484;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    color: #ff8484;
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.center-menu li a:hover {
    color: #ff0000; /* Vermelho no hover */
    border-color: #ff0000; /* Borda vermelha no hover */
}


/* Estilos para o rodapé */
footer {
    background-color: #111; /* Mesmo preto suave do cabeçalho */
    color: #ff8484; /* Detalhes em vermelho */
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

/* Links gerais */
a {
    color: #ffffff; /* Vermelho */
    text-decoration: none;
}

a:hover {
    color: #fff; /* Branco ao passar o mouse */
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6{
    margin: 10px;
    color: #ff8484; /* Vermelho para os títulos */
}

.title-page {
    margin: 0;
    color: #ff8484;
    background-color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #ff0000;
}

/* index.html */
.image-list {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.image-list a {
    display: inline-block;
}

.image-list img {
    width: auto;
    height: 300px;
    border: 2px solid #ff0000; 
    border-radius: 12px;
    background-color: #fff; 
    padding: 10px; 
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.image-list img:hover {
    transform: scale(1.05); 
}

.cv-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-direction: row;
    flex-grow: 1;
}

.cv-container article {
    background-color: #333;
    flex-grow: 1; 
    max-width: 30%; 
    margin-right: 20px;
    border: 1px solid #ff0000;
}

.cv-container article p {
    padding-left: 30px;
}

.cv-container aside {
    flex-shrink: 0; 
}

.cv-container aside img {
    width: 500px; 
    height: auto;
    border-radius: 50%; 
    margin-right: 350px;
    margin-top: 120px;
    border: 3px solid #ff0000;
}

/*portfolio.html*/

/*teste carrosel*/

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    margin-top: 10%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.carousel-item img {
    border: #ff0000 2px solid;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 2%;
    transition: transform 0.3s ease;
    margin-bottom: 15px; /* Espaço entre imagem e texto */
}

.carousel-item img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.carousel-text {
    border: #ff0000 2px solid;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
    border: 1px solid #ff0000;
    border-radius: 30%;

}

.carousel-button.next {
    right: 10px;
    border: 1px solid #ff0000;
    border-radius: 30%;

}
